a {
  text-decoration: underline;
}

/* People Page Table Styling */
.people-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
  padding: 0;
}

.people-table tr{
  background-color: transparent !important;
}

.person {
  border: none;
}

.person-photo {
  width: 150px;
  padding: 0px;
  vertical-align: top;
  border: none;
}

.person-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.person-info {
  padding-left: 40px;
  padding-top: 0px;
  border: none;
  background: none;
}

.person-name {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;;
  font-size: 1.4em;
  font-weight: 600;
}

.person-title {
  margin-bottom: 15px !important;
  font-size: 1.2em;
  color: #555;
}

.person-bio {
  margin-bottom: 10px !important;
}



/* CSS for an ever-looping dynamic grey gradient background */
.banner {
  width: 100%;
  height: 400px; /* Adjust this to fit your banner's height */
  background: linear-gradient(90deg, #4d4d4d, #808080, #d9d9d9, #808080, #4d4d4d); /* Initial gradient */
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

/* Keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
